# Dependencies
node_modules

# Build output local
build
dist

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Môi trường local
.env
.env.*
!.env.example
!.env.production

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
*.swp

# Test
coverage
