[defaults]
inventory         = inventories/hosts.yml
roles_path        = ./roles
host_key_checking = False          ; bỏ qua xác nhận SSH key lần đầu => production nên bật lại
retry_files_enabled = False        ; không tạo file .retry khi fail
stdout_callback   = yaml           ; output dễ đọc hơn
interpreter_python = auto_silent   ; tự detect Python trên target host

[ssh_connection]
pipelining        = True           ; tăng tốc SSH, bỏ qua requiretty
ssh_args          = -o ControlMaster=auto -o ControlPersist=60s
